.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 120px;
  background: #0095a0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-logo {
  font-family: inter;
  font-style: normal;
  font-weight: bold;
  font-size: 31.4118px;
  line-height: 47px;
  color: #ffffff;
}
