body,
html {
  background-color: #fdfdff;
  padding: 0;
  margin: 0;
}

/* .App {
} */

.container {
  margin-top: 100px;
  padding: 0 200px;
}

.chart-container {
  display: flex;
  justify-content: space-around;
}
